<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Trips</title>
  <link rel="stylesheet" href="/static/mytips.css">
</head>
<body>

<div class="trip-container">
  <div class="trip-links">
    <a class="home-links" href="/home">Home</a>
    <a class="home-links" href="/addTrip">Add Trips</a>
  </div>
    <div class="trip-box">
        <h1 class="trip-title">My Trips</h1>
        <div id="tripContainer">
            <div class="trip-item">
                <button>Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Link to the external JavaScript file -->
<script src="/static/tripFunctions.js"></script>

</body>
</html>
